.flash-message {
    width: 910px;
}

.form-content-wrapper {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#444cf7 1px, transparent 1px),
        linear-gradient(to right, #444cf7 1px, #e5e5f7 1px);
    background-size: 20px 20px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.form-content {
    position: relative;
    width: 910px;
    height: auto;
    display: flex;
}
.form-content .form-info {
    position: relative;
    padding: 73px 80px 41px;
    background-color: var(--white-background);
    color: var(--black-color);
    font-weight: 400;
    width: 92.5%;
    border: 2px solid var(--border-color);
    border-right: none;
    border-radius: 8px 0 0 8px;
}
.form-content .form-info img.form-info-image {
    padding: 0 var(--gap-between-elemen);
    width: 100%;
}
.form-content .form-info p.form-info-header,
.form-content .form-info p.form-info-policy {
    position: relative;
    text-align: center;
    width: 100%;
}
.form-content .form-info p.form-info-header {
    font-size: 38px;
    font-weight: bolder;
}
.form-content .form-info p.form-info-policy {
    font-size: 16px;
}
.form-content .form-detail {
    position: relative;
    width: 100%;
    padding: 73px 80px 41px;
    background-color: var(--white-background);
    border-width: 2px 2px 2px 0;
    border-style: solid;
    border-color: var(--border-color);
    border-radius: 0 8px 8px 0;
    margin: 0;
}
/* .form-content .form-detail::before {
  content: "";
  position: absolute;
  left: -2px;
  top: 0;
  height: 32px;
  border-left: 2px solid var(--border-color);
}
.form-content .form-detail::after {
  content: "";
  position: absolute;
  left: -2px;
  bottom: 0;
  height: 32px;
  border-left: 2px solid var(--border-color);
} */
.form-content .form-detail .form-group {
    width: 100%;
    position: relative;
}
.form-content
    .form-detail
    .form-group[aria-label="Captcha input"]
    div.recaptcha {
    display: flex;
    gap: var(--gap-between-elemen);

    & img {
        position: relative;
        width: auto;
        border: 2px dotted var(--border-color);
        cursor: pointer;
    }
}
.form-content .form-detail .form-group label {
    color: var(--gray-color);
    font-weight: 600;
    font-size: 13px;
    margin-bottom: 3px;
}
.form-content .form-detail .form-group {
    margin-bottom: calc(var(--gap-between-elemen) * 2);
}
.form-content .form-detail input {
    width: 100%;
    padding: 5px 15px 10px 15px;
    border: 2px dotted transparent;
    border-bottom: 2px solid var(--border-color);
    appearance: unset;
    outline: none;
    font-size: 16px;
    font-weight: 700;
    color: var(--black-color);
}
.form-content .form-detail .form-group input:focus {
    border: 2px dotted var(--border-color);
}
.form-content .form-detail .form-group:last-child {
    display: flex;
    gap: calc(var(--gap-between-elemen) + 3px);
    align-items: center;
    justify-content: center;
}
.form-content .form-detail .form-group:last-child button[type="submit"] {
    background-color: #373be3;
    border-radius: 4px;
    width: 180px;
    border: none;
    cursor: pointer;
    color: var(--white-color);
    font-weight: 700;
    font-size: 15px;
    padding: 15px;
}
.form-content .form-detail .form-group:last-child button[type="submit"] {
    background-color: #2a2cb0;
}
.form-content .form-detail .form-group:last-child p {
    display: flex;
    align-items: center;
    gap: var(--gap-between-elemen);
    font-weight: 600;
    font-size: 14px;
    color: var(--gray-color);
}
.form-content .form-detail .form-group:last-child a {
    color: #373be3;
    background-color: unset;
    padding: 0;
    margin: 0;
    outline: none;
    border-radius: 0;
    border-width: 0 0 2px 0;
    border-style: dotted;
    border-color: #373be3;
    transition: border-width 0.3s ease;

    &:hover {
        color: #2a2cb0;
        border-width: 0;
    }
}

/* Responsive */
@media screen and (max-width: 991px) {
    .form-content {
        margin: 180px 20px;
        flex-direction: column;
    }
    .form-content .form-info {
        width: 100%;
        margin-bottom: 0;
        padding-bottom: var(--gap-between-elemen);
        border-width: 2px 2px 0 2px;
        border-style: solid !important;
        border-radius: 8px 8px 0 0;
    }
    .form-content .form-detail {
        padding: 50px;
        width: auto;
        border-width: 0 2px 2px 2px;
        border-radius: 0 0 8px 8px;
    }
    .form-content .form-detail::before {
        display: none;
    }
    .form-content .form-detail::after {
        display: none;
    }
    .form-content .form-detail .register {
        margin-bottom: 80px;
    }
}
@media screen and (max-width: 575px) {
    .form-content .form-detail {
        padding: 30px 20px;
        width: auto;
    }
}
